In [1]:
import pandas as pd
import numpy as np
import os
from torch.utils.data import DataLoader, TensorDataset

In [2]:
work_dir = os.getcwd()
work_dir

'/Users/rckyi/Documents/GitHub/RocketPill/ipynb-notebooks'

In [3]:
work_dir = os.getcwd()#.replace("GitHub/RocketPill/ipynb-notebooks", "Data/")
data_dir = os.getcwd().replace("GitHub/RocketPill/ipynb-notebooks", "Data/")
thrust_curves_files_id = "thrust_curves_normalized.csv"
models_path = os.getcwd().replace("GitHub/RocketPill/ipynb-notebooks", "Deep_Learning_Models/")

In [13]:
ls = [data_dir + x for x in os.listdir(data_dir) if thrust_curves_files_id in x ]

['/Users/rckyi/Documents/Data/J_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/D_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/I_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/G_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/A_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/O_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/B_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/L_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/M_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/C_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/N_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/F_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/H_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/E_thrust_curves_normalized.csv',
 '/Users/rckyi/Documents/Data/K_thrust_curves_normalized.csv']

In [63]:
lsf = [ pd.read_csv(f) for f in ls]
df = pd.concat(lsf)

In [64]:
df.head()

       time    thrust                   motorId motor_name impulse_class
0  0.000000  0.000000  5f4294d200023100000000f7    J245-BG             J
1  0.000000  1.000000  5f4294d200023100000000f7    J245-BG             J
2  0.053367  0.800001  5f4294d200023100000000f7    J245-BG             J
3  0.401317  0.692308  5f4294d200023100000000f7    J245-BG             J
4  0.787695  0.415384  5f4294d200023100000000f7    J245-BG             J

In [65]:
df['time'] = pd.to_datetime(df['time'], unit='ns')

In [66]:
df['time']= df1

In [67]:
df.head()

        time    thrust                   motorId motor_name impulse_class
0 1970-01-01  0.000000  5f4294d200023100000000f7    J245-BG             J
1 1970-01-01  1.000000  5f4294d200023100000000f7    J245-BG             J
2 1970-01-01  0.800001  5f4294d200023100000000f7    J245-BG             J
3 1970-01-01  0.692308  5f4294d200023100000000f7    J245-BG             J
4 1970-01-01  0.415384  5f4294d200023100000000f7    J245-BG             J

In [22]:
df.to_csv(data_dir + "all_thrust_curves_data.csv", index=False)

In [18]:
from datasets import load_dataset, Dataset

/Users/rckyi/miniforge3/envs/gpu_py311/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [19]:
df.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       459, 460, 461, 462, 463, 464, 465, 466, 467, 468],
      dtype='int64', length=6008)

In [20]:
df['id'] = df.index

In [21]:
df.head()

       time    thrust                   motorId motor_name impulse_class  id
0  0.000000  0.000000  5f4294d200023100000000f7    J245-BG             J   0
1  0.000000  1.000000  5f4294d200023100000000f7    J245-BG             J   1
2  0.053367  0.800001  5f4294d200023100000000f7    J245-BG             J   2
3  0.401317  0.692308  5f4294d200023100000000f7    J245-BG             J   3
4  0.787695  0.415384  5f4294d200023100000000f7    J245-BG             J   4

In [23]:
from datasets import load_dataset, Dataset

In [24]:
dataset = load_dataset("shaddie/thrust_curves_dataset")

In [25]:
dataset

DatasetDict({
    train: Dataset({
        features: ['time', 'thrust', 'motorId', 'motor_name', 'impulse_class', 'id'],
        num_rows: 6008
    })
})